---
import Layout from "../layouts/Layout.astro";
import MyH1 from "../components/MyH1.astro";
import { Image } from "astro:assets";

import srcImage from "../assets/fishing-near-medford-oregon.png";
import salmonImage from "../assets/salmon-fishing-near-medford-oregon.png";
import steelheadImage from "../assets/steelhead-fishing-near-medford-oregon.png";
import troutImage from "../assets/trout-fishing-near-medford-oregon.png";
import bassImage from "../assets/bass-fishing-near-medford-oregon.png";
import bestSalmonSpotsImage from "../assets/best-salmon-fishing-spots-medford-oregon.png";
import bestSteelheadSpotsImage from "../assets/best-steelhead-fishing-spots-medford-oregon.png";
import bestTroutSpotsImage from "../assets/best-trout-fishing-spots-medford-oregon.png";
import bestBassSpotsImage from "../assets/best-bass-fishing-spots-medford-oregon.png";


const cards = [
                            {
    img: bestBassSpotsImage,
    title: "Best bass fishing spots",
    desc: "Comprehensive guide to the best bass fishing hotspots near Madford - with seasonal tips, gear suggestions, and local insights...",
    url: "/bass/best-spots/",
  },
                        {
    img: bestTroutSpotsImage,
    title: "Best trout fishing spots",
    desc: "Comprehensive guide to the best trout fishing hotspots near Madford - with seasonal tips, gear suggestions, and local insights...",
    url: "/trout/best-spots/",
  },
                    {
    img: bestSteelheadSpotsImage,
    title: "Best steelhead fishing spots",
    desc: "Comprehensive guide to the best steelhead fishing hotspots near Madford - with seasonal tips, gear suggestions, and local insights...",
    url: "/steelhead/best-spots/",
  },
                {
    img: bestSalmonSpotsImage,
    title: "Best salmon fishing spots",
    desc: "Comprehensive guide to the best salmon fishing hotspots near Madford - with seasonal tips, gear suggestions, and local insights...",
    url: "/salmon/best-spots/",
  },
            {
    img: bassImage,
    title: "Bass fishing near Medford",
    desc: "Southern Oregon has long been known for its steelhead and salmon fisheries, but a rising number of anglers are discovering the incredible bass fishing near Medford...",
        url: "/bass/",
  },
        {
    img: troutImage,
    title: "Trout fishing near Medford",
    desc: "Southern Oregon is a haven for anglers who appreciate stunning landscapes, clean mountain waters, and a chance to reel in beautiful trout...",
        url: "/trout/",
  },
    {
    img: steelheadImage,
    title: "Steelhead fishing near Medford",
    desc: "Steelhead are the elusive prize of the Pacific Northwest - strong, beautiful, and unpredictable...",
        url: "/steelhead/",
  },
{
    img: salmonImage,
    title: "Salmon fishing near Medford",
    desc: "Tucked in the heart of the Rogue Valley, Medford, Oregon sits in prime proximity to some of the best salmon fishing rivers in the Pacific Northwest...",
        url: "/salmon/",
  },
  {
    img: srcImage,
    title: "Introduction to fishing around Medford",
    desc: "All you need to know about fishing near Medford, Oregon...",
        url: "/intro",
  },

];
---
<Layout 
title="Fishing near Medford, Oregon"
description="Discover the top places for fishing near Medford, Oregon. Learn about rivers, lakes, gear tips, licenses, and more."
url="https://medford.oregonfishingforum.com/"
type="website"
site_name="Oregon Fishing Forum"
ogimage={srcImage.src}
>
    <div class="text-center">
			<MyH1 text="Fishing near Medford, Oregon" />
			<p class="mb-4">Discover the top places for fishing near Medford, Oregon. Learn about 
				rivers, lakes, gear tips, licenses, and more.</p>
    </div>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 p-6">
  {cards.map((card) => (
    <div class="bg-white rounded-2xl shadow-md overflow-hidden hover:shadow-lg transition">
    <a href={card.url}>
      <Image
        src={card.img}
        alt={card.title}
        class="w-full h-48 object-cover"
        width={600}
        height={400}
      />
      </a>
      <div class="p-4">
        <a href={card.url}><h3 class="text-lg font-semibold mb-2">{card.title}</h3></a>
        <p class="text-gray-600 text-sm">{card.desc}</p>
      </div>
    </div>
  ))}
</div>

</Layout>
